<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.artConnect.mapper.MemberMapper">

	<resultMap type="com.multi.artConnect.member.MemberVO"
		id="memberMap">
		<id property="memberID" column="memberID" />
		<result property="memberID" column="memberID" />
		<result property="memberPW" column="memberPW" />
		<result property="memberName" column="memberName" />
		<result property="regDate" column="regDate" />
		<result property="updateDate" column="updateDate" />
		<collection property="authList" resultMap="authMap"></collection>

	</resultMap>

	<resultMap type="com.multi.artConnect.member.AuthVO"
		id="authMap">
		<result property="memberID" column="memberID" />
		<result property="auth" column="auth" />
	</resultMap>

	<insert id="insert" parameterType="map">
		insert into member
		values (
		#{memberID},
		#{memberPW},
		#{memberName},
		#{memberBirth},
		#{memberGender},
		#{memberAddr},
		#{memberTel},
		#{memberEmail},
		#{memberAlarm},
		#{regDate},
		#{updateDate},
		#{enabled}
		)
	</insert>

	<insert id="insertAuth" parameterType="map">
		insert into member_auth
		(memberID, auth)
		values (
		#{memberID},
		#{auth})
	</insert>

	<!-- 아이디 중복 체크 -->
	<select id="idCheck" resultType="int">
		select count(*) from member
		where memberID = #{memberID}
	</select>


	<select id="read" resultMap="memberMap">
		SELECT m.memberID, m.memberPW,
		m.memberName, m.enabled, m.regdate, m.updatedate, ma.auth
		FROM member m
		LEFT OUTER JOIN member_auth ma ON m.memberID = ma.memberID
		WHERE
		m.memberID = #{memberID}
	</select>

</mapper>
